<div class="chat-list">
    <div class="mt-3 mb-3">
        <input type="text" placeholder="Search..." class="input-box">
    </div>
    <div class="list-group">


        <a *ngFor="let chat of chatBoxList" class="list-group-item list-group-item-action c-p-s" aria-current="true">

            <ng-container *ngIf="_utilService.loggedInUserId != chat.recieverId; else otherU" >
                <div  (click)="getChats(chat.recieverId)">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{chat.recieverName}}</h5>
                        <span class="badge bg-primary rounded-pill">{{chat.newMessages}}</span>
                    </div>
                    <p class="mb-1">{{chat.lastMessage}}</p>
                </div>
            </ng-container>

            <ng-template #otherU >
                <div (click)="getChats(chat.employeeId)">
                    <div class="d-flex w-100 justify-content-between"  >
                        <h5 class="mb-1">{{chat.employeeName}}</h5>
                        <span class="badge bg-primary rounded-pill">{{chat.newMessages}}</span>
                    </div>
                    <p class="mb-1">{{chat.lastMessage}}</p>
                </div>
            </ng-template>

        </a>

    </div>
</div>