<div class="chat-container">

    <!-- header -->
    <div class="row mx-0 header">
        <div class="col-1 image-section">
            <img src="../../../../assets/jethalal_1621940926.jpg" width="40px" height="40px" alt="">
        </div>

        <div class="col-10 name-section">
            <div>
                <h5>Jethalal</h5>
                <small>Online</small>
            </div>
        </div>

        <div class="col-1 option-bar">
            <i class='bx bx-menu'></i>
        </div>
    </div>

    <div class="row mx-0 body">
        <div class="chat-container">
            <div class="message-box my-message">
              <p>I've been waiting to see that show asap!<br><span>07:43</span></p>
            </div>
            <div class="message-box friend-message">
              <p>Ahh, I can't believe you do too!<br><span>07:45</span></p>
            </div>
            <div class="message-box friend-message">
              <p>The trailer looks good<br><span>07:45</span></p>
            </div>
            <div class="message-box friend-message">
              <p>I've been waiting to watch it!!<br><span>07:45</span></p>
            </div>
            <div class="message-box my-message">
              <p>😐😐😐<br><span>07:46</span></p>
            </div>
            <div class="message-box my-message">
              <p>Mee too! 😊<br><span>07:46</span></p>
            </div>
          <div class="message-box friend-message">
              <p>We should video chat to discuss, if you're up for it!<br><span>07:48</span></p>
            </div>
            <div class="message-box my-message">
              <p>Sure<br><span>07:48</span></p>
            </div>
            <div class="message-box my-message">
              <p>I'm free now!<br><span>07:48</span></p>
            </div>
          <div class="message-box friend-message">
              <p>Awesome! I'll start a video chat with you in a few.<br><span>07:49</span></p>
            </div>
          </div>
    </div>

    <!-- footer -->
    <div class="row mx-0 footer">
        <div class="message-box">
            <i class='bx bx-smile'></i>
            <input type="text" placeholder="Type a message">

        </div>
    </div>
</div>